$dark-color: #2C3E50;
$primary-color: #2ECC71;
$dark-primary-color: #27AE60;
$offwhite-color: #ecf0f1;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, input, textarea {
  font-family: "Quicksand", sans-serif;
  color: $dark-color;
  margin: 0;
  padding: 0;
}

a {
  color: $dark-color;
  text-decoration: none;
}

button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

input, textarea {
  display: block;
  appearance: none;
  font-size: 1rem;
  padding: 15px 20px;
  min-width: 100%;
  border: 2px solid #2c3d50;
  border-radius: 20px;
  margin-bottom: 10px;
  transition: all 0.3s;
}

textarea {
  resize: none;
}

input:focus, textarea:focus {
  outline: none;
  border-color: $primary-color;
}

section {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  min-width: 100%;
  min-height: 600px;
  padding: 20px 0;
}

section .inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

section.hero {
  height: 100vh;
  padding-top: 50px;
  background-color: $offwhite-color;
}

section.about {
  background-color: $dark-primary-color
}

section.hero .inner {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  max-width: 100%;
}

.two-cols {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 30px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

header.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 20px;
  background-color: white;
}

header.mobile-header {
  width: 100%;
  z-index: 1000;
  padding: 10px 20px;
  background-color: white;
}

header.main-header .logo-icon > svg {
  fill: $primary-color;
  max-width: 300px;
}

header.mobile-header .logo-icon > svg {
  fill: $primary-color;
  max-width: 200px;
}

header.main-header .logo-text > h1 {
  font-weight: bold;
  color: $dark-color;
}

header.mobile-header .logo-text > h1 {
  font-size: 1.3rem;
  font-weight: bold;
  color: $dark-color;
  margin: 0;
}

header.main-header .header-logo .logo,
header.mobile-header .header-logo .logo {
  display: flex;
  width: fit-content;
  align-items: center;
}

header.main-header .header-logo .logo .logo-icon,
header.mobile-header .header-logo .logo .logo-icon {
  width: 50px;
  margin-right: 10px;
  transform-origin: center bottom;
}

header.mobile-header .header-logo .logo .logo-icon {
  width: 25px;
}

header.main-header .header-logo .logo:hover .logo-icon {
  animation: 0.3s ease-in-out 0s 1 normal wind-logo-beginning, 1s ease-in-out 0.3s infinite normal wind-logo-continue;
}

header.main-header .header-cols,
header.mobile-header .header-cols {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  align-items: center;
}
header.mobile-header .header-cols {
  grid-template-columns: 1fr 1fr;
}

header.main-header ul.header-nav {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header.mobile-header .mobile-menu {
  display: flex;
  justify-content: right;
}

.mobile-menu .hamburger {
  display: grid;
  width: 40px;
  grid-template-columns: 1fr;
  place-content: center;
  row-gap: 8px;
  margin-left: 20px;
  padding: 0 8px;
}

.mobile-menu .hamburger > span {
  display: block;
  height: 2px;
  width: 100%;
  background: $dark-color
}

.mobile-menu .close-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0 8px;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
}

.mobile-menu .close-nav::before {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  display: block;
  transform: translateY(1px) rotate(45deg);
}

.mobile-menu .close-nav::after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  display: block;
  transform: translateY(-1px) rotate(-45deg);
}


.mobile-menu nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $primary-color;
  display: none;
  place-items: center;
}

.mobile-menu ul {
  display: block;
  padding: 0;
  margin: 0;
}
.mobile-menu ul.header-nav > li {
  display: block;
  text-align: center;
}

.mobile-menu ul.header-nav > li > a {
  display: block;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  margin: 10px 0px;
}

header.main-header ul.header-nav > li {
  display: block;
}

header.main-header ul.header-nav > li > a {
  display: block;
  color: $dark-color;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 20px;
  transition: all 0.1s;
}

header.main-header ul.header-nav > li > a:hover {
  color: white;
  background: $primary-color;
}

header.main-header .highlight,
header.mobile-header .highlight {
  text-align: right;
}

header.main-header .highlight > a,
header.mobile-header .highlight > a {
  display: inline-block;
  color: white;
  background: $primary-color;
  padding: 15px 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 20px;
  transition: all 0.3s;
}

header.mobile-header .highlight > a {
  font-size: 0.9rem;
  padding: 10px 20px;
}

header.main-header .highlight > a:hover {
  transform: scale(1.05);
  box-shadow: $dark-primary-color 4px 4px;
}

header.mobile-header {
  display: none;
  position: relative;
  z-index: 1000;
}


a.button {
  display: inline-block;
  padding: 15px 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: all 0.3s;
}

a.button.button-primary {
  color: white;
  background: $primary-color;
}
a.button.button-primary:hover {
  transform: scale(1.05);
  box-shadow: $dark-primary-color 4px 4px;
}

a.button.button-secondary {
  border-color: $dark-color;
}

a.button.button-secondary:hover {
  transform: scale(1.05);
  background-color: $dark-color;
  color: white;
}

.hero-background, .forest {
  pointer-events: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 1200px;
  max-width: 2000px;
}

.hero-text > h1 {
  font-size: 4rem;
  margin: 0;
  line-height: 1;
}

.underlined {
  display: inline-block;
  position: relative;
}

.underlined > span {
  position: relative;
  z-index: 2;
}

.underlined::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  background-color: $primary-color;
  z-index: 1;
  bottom: 0px
}

.button-group {
  margin-top: 40px;
}

.button-group .button-primary {
  margin-right: 20px;
}

.contact-form {
  padding: 50px 30px;
  background-color: white;
  box-shadow: 0px 0px 20px 2px #bfbfbf;
  border-radius: 20px;
}

.contact-form .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.contact-form h1 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 20px;
}

.bush, .round-tree, .sharp-tree, .land {
  min-width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

@keyframes wind-blown {
  0%   { transform: skewX(0deg); }
  10%  { transform: skewX(-15deg); }
  15%  { transform: skewX(5deg); }
  20%  { transform: skewX(0deg); }
  80%  { transform: skewX(0deg); }
  85%  { transform: skewX(-5deg); }
  90%  { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}

@keyframes wind-logo-beginning {
  0%  { transform: skewX(0deg); }
  100% { transform: skewX(-10deg); }
}

@keyframes wind-logo-continue {
  0%  { transform: skewX(-10deg); }
  50%  { transform: skewX(-6deg); }
  100% { transform: skewX(-10deg); }
}

.tree-group {
  position: absolute;
  bottom: 0;
  right: 0;
  animation-name: wind-blown;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out
}

@media (max-width: 1200px) {
  header.main-header { display: none; }
  header.mobile-header { display: block; }
  section.hero { margin-top: -61px; }

  .hero-text > h1 {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  .button-group {
    margin-top: 20px;
  }

  .hero-background > .forest {
    transform: translateX(50px);
  }

  a.button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 950px) {
  .two-cols {
    grid-template-columns: 1fr;
  }

  .contact-form {
    display: none;
  }

  .hero-text {
    max-width: 500px;
  }
}

@media (max-width: 450px) {
  header.mobile-header .highlight { display: none; }
  header.mobile-header .header-cols {
    grid-template-columns: 2fr 1fr;
  }
}